In [2]:
import psycopg2
from prettytable import from_db_cursor

connect = psycopg2.connect(
	dbname='vk',
	user='postgres',
	password='123'
)

connect.autocommit = True
cursor = connect.cursor()

cursor.execute("""select c.student_id
from table_calls as c
join table_send as s
on c.student_id=s.student_id
where s.second_call_in_table='true' and c.second_call='Не проведен';
""")

for i in cursor.fetchall():
	cursor.execute(f"""update table_send set second_call_in_table='false' where student_id='{i[0]}'""")

#cursor.execute("""
#			select se.student_id, t.group_name, t.second_link
#			from table_send as se
#			join (
#				select c.student_id, s.group_name, c.second_link
#				from table_calls as c
#				join table_students as s
#				on c.student_id=s.student_id
#				where c.second_call='Проведен'
#			) as t
#			on se.student_id=t.student_id
#			where se.second_call_in_table=false
#			;
#		""")

#a = cursor.fetchall()
#print(len(a))
#for i in a:
#	cursor.execute(f"""update table_send set second_call_in_table='True' where student_id='{i[0]}'""")

#cursor.execute("""
#			select se.student_id, t.group_name, t.first_link
#			from table_send as se
#			join (
#				select c.student_id, s.group_name, c.first_link
#				from table_calls as c
#				join table_students as s
#				on c.student_id=s.student_id
#				where c.first_call='Проведен'
#			) as t
#			on se.student_id=t.student_id
#			where se.first_call_in_table=false
#			;
#		""")
#a = cursor.fetchall()
#print(len(a))
#for i in a:
#	cursor.execute(f"""update table_send set first_call_in_table='True' where student_id='{i[0]}'""")

In [3]:
from ipaddress import *

n = ip_network('192.168.32.160/255.255.255.240')

counter = 0
for i in n:
	t = f'{i:b}'
	if sum(list(map(int, t))) % 2 == 0:
		counter += 1
counter

8

In [4]:
for x in range(2):
	for y in range(2):
		for z in range(2):
			for w in range(2):
				if ((x <= y) and (y <= z) and (z <= w)):
					print(z, y, w, x)

0 0 0 0
0 0 1 0
1 0 1 0
1 1 1 0
1 1 1 1